<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">

        <div>
            <label>Id: 
                <input type="text" v-model="id">
            </label>
            <label>Name: 
                <input type="text" v-model="name">
            </label>
                <input type="button" value="添加人物" @click=www>
            
        </div>


        <!-- 注意： v-for循环的时候  key属性只能使用  number或者string -->
        <!-- 注意：key在使用对象的时候  必须使用 v-bind 属性绑定的形式  指定key的值 -->
        <!-- 在组件中  使用v-for循环的时候  或者在一些特殊情况中  如果 v-for 有问题 bix在使用v-for同时  指定唯一的 字符串/数字类型 :key值 -->
        <p v-for= "item in list" :key= "item.id">
            <input type="checkbox">
              {{item.id}}---{{item.name}}
        </p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                list: [
                    {id: 1, name: '李斯'},
                    {id: 2, name: '嬴政'},
                    {id: 3, name: '韩非'},
                    {id: 4, name: '赵高'},
                    {id: 5, name: '赵姬'},
                    {id: 6, name: '王剪'}
                ]
            },
            methods: {
                www() {
                    console.log(13)
                    this.list.unshift({id: this.id, name: this.name});
                }
            }
        });
    </script>
</body>
</html>